@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

body {
  margin: 0;
  font-family: 'Varela', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}